
    .card-size{
        width: 100%;
        background-color: #8cd4f040
    }
    .card-img-top {
        width: 15%;
        margin: 10px 36px 0px 36px;
    }
    .list-component{
        padding-top: 15px;
        padding-left: 50px;
        padding-right: 50px;    
    }
